<% flash.each do |key, value| %>
  <div data-controller="alert" data-target="alert.alert" class="vlc-alert <%= key %> <%= position %> z-100">
    <p><%= value %></p>
    <p data-action="click->alert#closeAlert">X</p>
  </div>
<% end %>
