<h1>Editing Multitenanted Record</h1>

<%= render 'form', multitenanted_record: @multitenanted_record %>

<%= link_to 'Show', @multitenanted_record %> |
<%= link_to 'Back', multitenanted_records_path %>
